<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/DashboardWriter/Index/">
                <i class="mdi mdi-home-outline menu-icon"></i>
                <span class="menu-title">Ana Sayfa</span>
            </a>
		</li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#message" role="button" aria-expanded="false" aria-controls="message">
                <i class="icon-mail menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="message">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/RecieverMessage">Gelen</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/SenderMessage">Giden</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/SendMessage">Mesaj Yaz</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
                <i class="mdi mdi-bell-ring-outline menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="ti-settings  menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/DefaultController1/Index/">
                <i class="mdi mdi-open-in-new menu-icon"></i>
                <span class="menu-title">Tanışma Ekranı</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut/">
                <i class="icon-power menu-icon"></i>
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
    </ul>
</nav>