@model entitylayer.concrete.skill

@{
    ViewData["Title"] = "Editskill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h4 class="mb-0">Bir Yeteneğinizi Düzenleyin</h4>
</div>

@using (Html.BeginForm("Editskill", "SkillController1",FormMethod.Post))
{
    @Html.HiddenFor(x => x.skillID)
   <div class="col-12 grid-margin stretch-card">
        <div class="card">            
            <div class="card-body">
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Beceri</label>
                        @Html.TextBoxFor(x =>x.title , new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Beceri Oranı</label>
                        @Html.TextBoxFor(x => x.value, new { @class = "form-control" })
                    </div>                    
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button type="button" class="btn btn-light" onclick="history.back()">Geri</button
                </form>
            </div>
        </div>
    </div>
}

