@using entitylayer.concrete
@model List<skill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="row">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
                <h4 class="text-white mb-0">Beceriler</h4>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="sort" data-sort="id">#</th>
                            <th scope="col" class="sort" data-sort="name">Beceri</th>
                            <th scope="col" class="sort" data-sort="budget">Beceri Oranı</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Düzenle</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @{
                            int i = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @i
                                </th>
                                <th class="budget">
                                    @item.title
                                </th>
                                <th>
                                    @item.value
                                </th>
                                <th><a href="/SkillController1/DeleteSkill/@item.skillID" class="btn btn-outline-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a></th>
                                <th><a href="/SkillController1/Editskill/@item.skillID" class="btn btn-outline-warning">Güncelle</a></th>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/SkillController1/Addskill/" class="btn btn-primary">Yeni Beceri Ekle</a>
    </div>
</div>
